figure#create-vault-dialog {
    display: block;
    width: 360px !important;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: block;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

@media (prefers-color-scheme: dark) {
    figure#create-vault-dialog {
        border-color: #777;
        background-color: #262626;
    }
}

span.field {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border: 1px solid #0370eb;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
}

div.fields {
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

figure#authorization-modal {
    display: block;
    width: 360px !important;
    margin: 0 auto;
}

.highlight {
    .gd {
        background-color: rgba(255, 59, 48, 0.5);
    }

    .gi {
        background-color: rgba(52, 199, 89, 0.5);
    }
}
