@import "../colors";

.code-with-automatic-preview {
  display: flex;
  align-items: stretch;
  background-color: var(--secondary-background);
  margin-bottom: 2em;

  .highlight {
    flex: 2;
  }

  aside {
    flex: 1;
    max-width: 400px;
    border-left: 1px var(--opaque-separator) solid;
    background-color: var(--secondary-background);
    margin-left: 20px;
    padding: 10px;
  }
}
