@media (monochrome) and (not(prefers-color-scheme: dark)),
  print and (not(color)),
  (prefers-contrast: high),
  screen and (-ms-high-contrast: active) {
  :root {
    --red: black;
    --yellow: black;
    --green: black;
    --teal: black;
    --blue: black;
    --indigo: black;
    --purple: black;
    --pink: black;
    --gray: black;
    --gray2: black;
    --gray3: black;
    --gray4: black;
    --gray5: black;
    --gray6: black;

    --text: black;
    --secondary-text: black;
    --placeholder-text: black;
    --separator: black;
    --opaque-separator: black;
    --fill: white;
    --secondary-fill: white;
    --background: white;
    --secondary-background: white;
  }

  .highlight {
    color: black !important;
    background: #fff !important;

    border: 2px black solid;

    .c,
    .ch,
    .cm,
    .cpf,
    .c1,
    .cs,
    .ge,
    .s,
    .sa,
    .sb,
    .sc,
    .dl,
    .sd,
    .s2,
    .sh,
    .sx,
    .sr,
    .s1,
    .ss {
      font-style: italic;
    }

    .k,
    .gh,
    .gp,
    .gs,
    .gu,
    .kc,
    .kd,
    .kn,
    .kr,
    .nc,
    .ni,
    .ne,
    .nn,
    .nt,
    .ow {
      font-weight: bold;
    }

    .se,
    .si {
      font-weight: bold;
      font-style: italic;
    }
  }

  .admonition:before {
    visibility: hidden;
  }
}
