@media (prefers-color-scheme: dark) {
  body {
    .info {
      background: #333c44 !important;
    }

    .warning {
      background: #484131 !important;
    }

    .error {
      background: #592e41 !important;
    }
  }

  article,
  i {
    img[src$=".svg"] {
      filter: invert(100%);
    }
  }

  kbd {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 0 2px #222 inset;
  }
}
