@media screen and (max-width: 768px) {
    [role="article"] header {
        .byline {

            .authors,
            .translators {
                &:after {
                    content: " ";
                    display: block;
                }
            }
        }
    }

    .container {
        padding: 1.5em;
    }

    #recent {
        ul {
            display: block;

            li {
                min-height: auto;
                margin-bottom: 2em;

                .title {
                    display: block;
                    height: auto;
                    padding-bottom: 0.5em;
                }
            }
        }
    }

    #follow {
        ul {
            width: 100%;
        }

        form {
            width: 100%;
            margin-left: 0;
            margin-top: 2em;
        }
    }

    [role="article"] {
        font-size: 75%;

        .content {
            overflow: hidden;

            blockquote {
                margin: 1em 0;
            }
        }

        footer .contributor {
            width: 100%;
            margin-bottom: 1em;

            &:not(:first-child) {
                border-top: none;
            }

            .avatar {
                padding: 0;
            }

            .details {
                margin-top: 0;
            }
        }
    }

    [role="complementary"] {

        #continue,
        #related {
            width: 100%;
        }

        #related {
            margin-top: 1em;

            li {
                font-size: 1em;
            }
        }
    }

    #sharing {
        ul {
            width: 100%;
        }

        li {
            display: none !important;
            margin: 0;
            float: left;
            display: block;
            margin-right: 2.35765%;
            width: 23.23176%;

            &:last-child,
            &:nth-child(4) {
                margin-right: 0;
            }

            &:nth-child(5) {
                clear: left;
            }

            a,
            i {
                display: block;
                margin: 0 auto;
                font-size: 1.25em;
            }
        }
    }

    #contributors {
        display: none;
    }

    #promotion .book img {
        margin: 0 auto;
    }

    #recent article {
        float: none;
        display: block;
        width: 100%;

        &:last-child,
        &:nth-of-type(2n) {
            margin-right: 0;
        }
    }

    .archive dl {
        width: 100%;
        margin: 0;
        float: none;

        dt {
            margin-bottom: 0.5em;
        }

        dd {
            margin-bottom: 1em;
        }
    }
}

@media screen and (max-width: 960px) {
    [role="article"] header h1 {
        font-size: 8vw;
    }

    [role="banner"] {
        margin-bottom: 2em;

        #logo {
            margin: 0 auto 2em auto;

            svg {
                width: 100% !important;
            }
        }

        #logo,
        nav {
            width: 100%;
        }
    }

    form {
        display: none;
    }

    #follow form input[type="submit"] {
        font-size: 0.67em;
    }

    [role="article"] {
        font-size: 100%;
    }

    #recent {
        ul {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .anchor {
        font-size: 67%;
    }
}
