@media screen and (max-width: 768px) {
  [role="article"] header {
    .byline {
      .authors,
      .translators {
        &:after {
          content: " ";
          display: block;
        }
      }
    }
  }

  .container {
    padding: 1em;
  }

  #recent {
    ul {
      display: block;

      li {
        min-height: auto;
        margin-bottom: 2em;

        .title {
          display: block;
          height: auto;
          padding-bottom: 0.5rem;
        }
      }
    }
  }

  #follow {
    ul {
      width: 100%;
    }

    form {
      width: 100%;
      margin-left: 0;
      margin-top: 2em;
    }
  }

  [role="article"] {
    font-size: smaller;

    .content {
      overflow: hidden;

      blockquote {
        margin: 1em 0;
      }
    }

    footer .contributor {
      width: 100%;
      margin-bottom: 1em;

      &:not(:first-child) {
        border-top: none;
      }

      .avatar {
        padding: 0;
      }

      .details {
        margin-top: 0;
      }
    }
  }

  [role="complementary"] {
    #continue,
    #related {
      width: 100%;
    }

    #related {
      margin-top: 1em;

      li {
        font-size: 1em;
      }
    }
  }

  #contributors ul li {
    flex-basis: 33%;
  }

  #recent article {
    float: none;
    display: block;
    width: 100%;

    &:last-child,
    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }

  .archive dl {
    width: 100%;
    margin: 0;
    float: none;

    dt {
      margin: 2em 0 0.5em 0;
    }
  }

  #archive dd {
    min-height: 30px;
  }
}

@media screen and (max-width: 960px) {
  [role="banner"] {
    display: block;
    margin-bottom: 0;
    padding-bottom: 0;

    #logo {
      margin: 0 !important;
      height: auto;

      svg {
        width: 25vw;
        display: block;
        margin: 0 auto 1.5em auto;
      }

      padding-bottom: 0.5em;
    }

    .tagline {
      font-size: 4.4vw;
      padding-bottom: 2em;
    }
  }

  #recent {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .anchor {
    font-size: smaller;
  }

  #announcement {
    margin-left: 0;
    margin-right: 0;
  }

  article.author,
  article.translator {
    header {
      display: block;

      .avatar {
        margin: 0 auto 1em auto;
        display: block;
      }

      h1 {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #promotion {
    padding-top: 3em;

    small {
      position: relative;
      top: 60px;
    }

    article {
      padding-top: 80px;
    }

    .book {
      img {
        width: 350px;
        margin: -86px auto 0 280px;
        position: absolute;
      }
    }

    .buy {
      width: 100%;
    }
  }
}

@media screen and (max-width: 480px) {
  #promotion {
    padding-top: 0;

    small {
      text-align: center;
      display: block;
    }

    article {
      overflow: hidden;
    }

    h3 {
      padding-right: 3em;
    }

    .book {
      margin: -30px 0 0 0;
      img {
        width: 320px;
        margin: 0;
        padding: 0;
        position: relative;
        left: -10px;
      }

      & + div {
        clear: both;
      }
    }
  }
}
