---
title: NSHipster
permalink: /
---

{% assign sorted_posts = site.posts | sort: 'updated_on' | reverse %}
{% assign latest_post = sorted_posts.first %}
<section id="latest">
  <article>
    <header>
      <h1 class="title">
        <a href="{{ latest_post.url }}">{{ latest_post.title | strip_html | escape | camel_break }}</a>
      </h1>
    </header>

    {{ latest_post.excerpt | markdownify }}

    <a class="readmore" href="{{ latest_post.url }}">{% t continue_reading %}</a>
  </article>
</section>

{% if sorted_posts.size > 3 %}
<section id="recent">
  <h1>{% t recent_articles %}</h1>

  <ul>
    {% for post in sorted_posts offset:1 limit: 6 %}
      <li>
        <a class="title" href="{{ post.url }}">{{ post.title | strip_html | escape | camel_break }}</a>

        {{ post.excerpt | markdownify }}
      </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

<section id="archive" class="archive" role="navigation">
  {% for group in site.groups %}
    {% for category in site.categories %}
      {% assign category_name = category[0] %}
      {% if category_name != group %}
          {% continue %}
      {% endif %}
      <dl>
        <dt>{{ category_name | default: "Miscellaneous" }}</dt>
        {% for posts in category offset: 1 %}
           {% assign sorted = posts | sort: "title" %}
           {% for post in sorted %}
              {% unless post.retired %}
              <dd><a href="{{ post.url }}">{{ post.title | strip_html | escape | camel_break }}</a></dd>
              {% endunless %}
           {% endfor %}
        {% endfor %}
      </dl>
    {% endfor %}
  {% endfor %}
</section>

