---
title: NSHipster
permalink: /
---

<section id="latest">
  <article>
    <header>
      <small>{% t this_week %}</small>
      <h1 class="title">
        <a href="{{ site.posts.first.url }}">{{ site.posts.first.title | camel_break }}</a>
      </h1>
    </header>

    {{ site.posts.first.excerpt | markdownify }}

    <a class="readmore" href="{{ site.posts.first.url }}">{% t continue_reading %}</a>
  </article>
</section>

{% if site.posts.size > 3 %}
<section id="recent">
  <h1>{% t recent_articles %}</h1>

  <ul>
    {% for post in site.posts offset:1 limit: 6 %}
      <li>
        <a class="title" href="{{ post.url }}">{{ post.title | camel_break }}</a>

        {{ post.excerpt | markdownify }}
      </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if site.lang == "en-US" %}
<section id="publications">
  <h1>{% t publications %}</h1>

  <div class="books">
  {% include book.html book="flight-school-guide-to-swift-codable" %}
  {% include book.html book="flight-school-guide-to-swift-numbers" %}
  {% include book.html book="flight-school-guide-to-swift-strings" %}
  </div>
</section>
{% endif %}

{% if site.lang == "en-US" %}
<section id="contributors">
  <h1>{% t contributors %}</h1>

  <ul>
  {% for author in site.authors %}
    <li class="author">
      <a href="{{ author.url }}">
        {% if author.image %}
            <img class="avatar" alt="{{ author.name }}" itemprop="image" src="{% asset "{{ author.image }}" @path %}" draggable="false"/>
        {% else %}
            <img class="avatar" itemprop="image" src="//0.gravatar.com/avatar/{{ author.gravatar }}?size=300" draggable="false"/>
        {% endif %}
      </a>
      <a href="{{ author.url }}">{{ author.name }}</a>
    </li>
  {% endfor %}
  </ul>
</section>
{% endif %}

<section id="archive" class="archive" role="navigation">
  {% for group in site.groups %}
    {% for category in site.categories %}
      {% assign category_name = category[0] %}
      {% if category_name != group %}
          {% continue %}
      {% endif %}
      <dl>
        <dt>{{ category_name | default: "Miscellaneous" }}</dt>
        {% for posts in category offset: 1 %}
           {% assign sorted = posts | sort: "title" %}
           {% for post in sorted %}
              {% unless post.retired %}
              <dd><a href="{{ post.url }}">{{ post.title | camel_break }}</a></dd>
              {% endunless %}
           {% endfor %}
        {% endfor %}
      </dl>
    {% endfor %}
  {% endfor %}
</section>

