{% assign book = site.books | where:"name", include.book | first %}

<section id="promotion"{% if include.home %} class="home"{% endif %}>
    <small>Now Available</small>

    <article>
    {% include book.html book=book.name %}
    <div>
        <span class="price">
            $9+
        </span>
        <h3><a href="{{ book.book_url }}" rel="noopener">{{ book.sub_title }}</a></h3>
        <h4>{{ book.edition }}</h4>
        {{ book.summary | markdownify }}

        <a class="buy" href="{{ book.book_url }}" rel="noopener">Buy Now on Gumroad</a>
    </div>
    </article>
</section>
