@font-face {
  font-family: "Creative Commons Symbols";
  src: url(font_path("CreativeCommonsSymbols.woff2")) format("woff2"),
    url(font_path("CreativeCommonsSymbols.woff")) format("woff");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+1F10D-1F10F, U+1F16D-1F16F;
}
