@mixin border-icon($name) {
  content: " ";
  background-image: asset_url($name + ".svg");
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  position: absolute;
  display: block;
  margin-left: -54px;
  margin-top: 10px;
  z-index: 100;
}

.admonition {
  font-family: $sans-serif-font-stack;
  border-left: 4px var(--separator) solid;
  padding: 5px 40px;
  margin: 1.5em 0;
  display: block;
  clear: both;
  overflow: visible;
  font-size: smaller;

  a {
    text-decoration: underline;
  }

  p {
    margin: 0.5em 0;
  }

  pre code {
    font-size: small;
    line-height: 1;
  }

  th,
  td {
    padding: 0.5em !important;
  }

  blockquote {
    margin-left: 0 !important;
    margin-top: 0.25em !important;
    margin-bottom: 0.25em !important;
    border-left-color: var(--separator) !important;
  }

  ins {
    background: transparent !important;
  }

  &.info {
    --code: var(--blue);
    --link: var(--blue);
    --separator: var(--blue);
    --background: #edf5fa;

    &:before {
      @include border-icon("info");
    }
  }

  &.warning {
    --background: #fcfaf6;
    --code: var(--yellow);
    --link: var(--yellow);
    --separator: var(--yellow);

    &:before {
      @include border-icon("warning");
    }
  }

  &.error {
    --background: #fcf2f6;
    --code: var(--pink);
    --link: var(--pink);
    --separator: var(--pink);

    &:before {
      @include border-icon("error");
    }
  }
}
