@mixin border-icon($name) {
  content: " ";
  background-image: asset_url($name + ".svg");
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  position: absolute;
  display: block;
  margin-left: -54px;
  margin-top: 10px;
  z-index: 100;
}

.admonition {
  font-family: $sans-serif-font-stack;
  border-left-width: 4px;
  border-left-style: solid;
  padding: 5px 40px;
  margin: 1.5em 0;
  display: block;
  clear: both;
  overflow: visible;
  font-size: smaller;

  p {
    margin: 0.5em 0;
  }

  pre code {
    font-size: small;
    line-height: 1;
  }

  th,
  td {
    padding: 0.5em !important;
  }

  blockquote {
    margin-left: 0 !important;
    margin-top: 0.25em !important;
    margin-bottom: 0.25em !important;
  }

  ins {
    background: transparent !important;
  }

  &.info {
    background: #edf5fa;
    border-color: #4daafc;

    a {
      color: #08f;
    }

    blockquote {
      border-left-color: #4daafc !important;
    }

    &:before {
      @include border-icon("info");
    }
  }

  &.warning {
    background: #fcfaf6;
    border-color: #f9d780;

    a {
      color: #f0b112;
    }

    blockquote {
      border-left-color: #f9d780 !important;
    }

    &:before {
      @include border-icon("warning");
    }
  }

  &.error {
    background: #fcf2f6;
    border-color: #f5569d;

    a {
      color: #e62279;
    }

    blockquote {
      border-left-color: #f5569d !important;
    }

    &:before {
      @include border-icon("error");
    }
  }
}
