@mixin border-icon($name) {
    content: " ";
    background-image: asset_url($name + ".svg");
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
    position: absolute;
    display: block;
    margin-left: -54px;
    margin-top: 10px;
    z-index: 100;
}

.admonition {
    font-family: $sans-serif-font-stack;
    border-left-width: 4px;
    border-left-style: solid;
    padding: 5px 40px;
    margin: 1.5em 0;
    display: block;
    overflow: visible;

    p {
        margin: 0.5em 0;
        font-size: smaller;
    }

    &.info {
        background: #edf5fa;
        border-left-color: #4DAAFC;

        a {
            color: #0088ff;
        }

        &:before {
            @include border-icon("info");
        }
    }

    &.warning {
        background: #fcfaf6;
        border-left-color: #F9D780;

        a {
            color: #f0b112;
        }

        &:before {
            @include border-icon("warning");
        }
    }

    &.error {
        background: #fcf2f6;
        border-left-color: #f5569d;

        a {
            color: #e62279;
        }

        &:before {
            @include border-icon("error");
        }
    }
}
