.highlight {
    background: $gray-dark;
    border: 1px transparent solid;
    border-radius: 5px;
    overflow: auto;
    padding: 0.5em 1em;
    margin-bottom: 1em;

    code {
        color: $gray-light;
        background: transparent !important;
    }
}

.highlight {
    ::selection {
        color: inherit;
    }

    ::-moz-selection {
        color: inherit;
    }

    .hll,
    .s,
    .sa,
    .sb,
    .sc,
    .dl,
    .sd,
    .s2,
    .se,
    .sh,
    .si,
    .sx,
    .sr,
    .s1,
    .ss {
        color: $yellow;
    }

    .go {
        color: $gray;
    }

    .err,
    .g,
    .l,
    .n,
    .x,
    .p,
    .ge,
    .gr,
    .gh,
    .gi,
    .gp,
    .gs,
    .gu,
    .gt,
    .ld,
    .no,
    .nd,
    .ni,
    .ne,
    .nn,
    .nx,
    .py,
    .w,
    .bp {
        color: $gray-light;
    }

    .gh,
    .gi,
    .gu {
        font-weight: bold;
    }

    .ge {
        text-decoration: underline;
    }

    .bp {
        // font-style: italic;
    }

    .c,
    .ch,
    .cm,
    .cpf,
    .c1,
    .cs {
        color: $blue;
    }

    .kd,
    .kt,
    .nb,
    .nl,
    .nv,
    .vc,
    .vg,
    .vi,
    .vm {
        color: $cyan;
    }

    .kd,
    .nb,
    .nl,
    .nv,
    .vc,
    .vg,
    .vi,
    .vm {
        // font-style: italic;
    }

    .na,
    .nc,
    .nf,
    .fm {
        color: $orange;
    }

    .k,
    .o,
    .cp,
    .kc,
    .kn,
    .kp,
    .kr,
    .nt,
    .ow {
        color: $pink;
    }

    .m,
    .mb,
    .mf,
    .mh,
    .mi,
    .mo,
    .il {
        color: $purple;
    }

    .gd {
        color: $red;
    }
}
