pre.highlight {
  background: var(--secondary-background);
  border: 1px var(--separator-opaque) solid;
  border-radius: 4px;
  overflow: auto;
  padding: 0.5em 1em;
  margin-bottom: 1em;

  code {
    color: var(--text);
    background: transparent !important;
  }

  &[data-lang="JWT"] {
    white-space: pre-wrap;
  }
}

.highlight {
  .placeholder {
    color: var(--text);
  }

  .o {
    color: var(--text);
  }

  .p {
    color: var(--gray);
  }

  .err {
    color: var(--gray);
  }

  .s,
  .sa,
  .sb,
  .sc,
  .dl,
  .sd,
  .s2,
  .sh,
  .sx,
  .sr,
  .s1,
  .ss {
    color: var(--orange);
  }

  .se,
  .si {
    color: var(--text);
  }

  .k,
  .kc,
  .kd,
  .kn,
  .kp,
  .kr {
    color: var(--purple);
  }

  .kt {
    color: var(--text);
  }

  .kd + .kt {
    color: var(--text);
  }

  .go,
  .nc,
  .nf,
  .nv {
    color: var(--text);
  }

  .kt + .o + .n,
  .nf {
    color: var(--indigo);
  }

  .cp,
  .c1 {
    color: var(--gray);
  }

  .n,
  .na,
  .nb,
  .bp,
  .no,
  .nd,
  .ni,
  .py,
  .nl,
  .nn,
  .nx,
  .nt,
  .vc,
  .vg,
  .vi {
    color: var(--text);
  }

  .l,
  .ld,
  .s,
  .sb,
  .sc,
  .sd,
  .s2,
  .se,
  .sh,
  .si,
  .sx,
  .sr,
  .s1,
  .ss,
  .m,
  .mf,
  .mh,
  .mi,
  .il,
  .mo,
  .mx,
  .mb {
    color: var(--indigo);
  }
}

@media (prefers-color-scheme: dark) {
  .highlight {
    .p {
      color: var(--gray2);
    }

    .err {
      color: var(--gray);
    }

    .s,
    .sa,
    .sb,
    .sc,
    .dl,
    .sd,
    .s2,
    .sh,
    .sx,
    .sr,
    .s1,
    .ss {
      color: var(--green);
    }

    .se,
    .si {
      color: var(--text);
    }

    .k,
    .kc,
    .kd,
    .kn,
    .kp,
    .kr {
      color: var(--teal);
    }

    .kt {
      color: var(--yellow);
    }

    .kd + .kt {
      color: var(--orange);
    }

    .go,
    .nc,
    .nf,
    .nv {
      color: var(--text);
    }

    .kt + .o + .n,
    .nf {
      color: var(--purple);
    }

    .cp {
      color: var(--red);
    }

    .c1 {
      color: var(--gray2);
    }

    .n + .o + .n,
    .na,
    .nb,
    .bp,
    .no,
    .nd,
    .ni,
    .py,
    .nl,
    .nn,
    .nx,
    .nt,
    .vc,
    .vg,
    .vi {
      color: var(--pink);
    }

    .l,
    .ld,
    .s,
    .sb,
    .sc,
    .sd,
    .s2,
    .se,
    .sh,
    .si,
    .sx,
    .sr,
    .s1,
    .ss,
    .m,
    .mf,
    .mh,
    .mi,
    .il,
    .mo,
    .mx,
    .mb {
      color: var(--orange);
    }
  }
}
