:root {
  --red: rgb(255, 59, 48);
  --orange: rgb(255, 128, 0);
  --yellow: rgb(255, 204, 0);
  --green: rgb(52, 199, 89);
  --teal: rgb(90, 200, 250);
  --blue: rgb(0, 122, 255);
  --indigo: rgb(88, 86, 214);
  --purple: rgb(175, 82, 222);
  --pink: rgb(255, 45, 85);
  --gray: rgb(142, 142, 147);
  --gray2: rgb(174, 174, 178);
  --gray3: rgb(199, 199, 204);
  --gray4: rgb(209, 209, 214);
  --gray5: rgb(229, 229, 234);
  --gray6: rgb(242, 242, 247);

  --text: rgb(0, 0, 0);
  --secondary-text: rgb(60, 60, 67);
  --placeholder-text: rgb(60, 60, 67);
  --code: var(--purple);
  --link: var(--orange);
  --separator: rgb(60, 60, 67);
  --opaque-separator: rgb(198, 198, 200);
  --fill: rgb(120, 120, 128);
  --secondary-fill: rgb(120, 120, 128);
  --background: rgb(242, 242, 247);
  --secondary-background: rgb(255, 255, 255);
}

@supports (color: color(display-p3 1 1 1)) {
  * {
    transition: none !important;
  }

  :root {
    --red: color(display-p3 1 0.2314 0.1882);
    --orange: color(display-p3 1 0.5 0);
    --yellow: color(display-p3 1 0.8 0);
    --green: color(display-p3 0.2039 0.7804 0.349);
    --teal: color(display-p3 0.3529 0.7843 0.9804);
    --blue: color(display-p3 0 0.4784 1);
    --indigo: color(display-p3 0.3451 0.3373 0.8392);
    --purple: color(display-p3 0.6863 0.3216 0.8706);
    --pink: color(display-p3 1 0.1765 0.3333);
    --gray: color(display-p3 0.5569 0.5569 0.5765);
    --gray2: color(display-p3 0.6824 0.6824 0.698);
    --gray3: color(display-p3 0.7804 0.7804 0.8);
    --gray4: color(display-p3 0.8196 0.8196 0.8392);
    --gray5: color(display-p3 0.898 0.898 0.9176);
    --gray6: color(display-p3 0.949 0.949 0.9686);

    --text: color(display-p3 0 0 0);
    --secondary-text: color(display-p3 0.2353 0.2353 0.2627);
    --placeholder-text: color(display-p3 0.2353 0.2353 0.2627);
    --separator: color(display-p3 0.2353 0.2353 0.2627);
    --opaque-separator: color(display-p3 0.7765 0.7765 0.7843);
    --fill: color(display-p3 0.4706 0.4706 0.502);
    --secondary-fill: color(display-p3 0.4706 0.4706 0.502);
    --background: color(display-p3 0.949 0.949 0.9686);
    --secondary-background: color(display-p3 1 1 1);
  }
}

html {
  border-top: 3px var(--orange) solid;

  body {
    background-color: var(--background);
    color: var(--text);
  }
}

#logo {
  #ns {
    fill: var(--orange);
  }
}
