button,
input[type="submit"] {
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    appearance: none;
    background-color: $dt-orange;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    padding: 0.75em 1em;
    text-decoration: none;
    transition: background-color 0.25s;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

button:hover,
input[type="submit"]:hover {
    background-color: darken($color: $dt-orange, $amount: 10%);
    color: white;
}
