@mixin clearfix {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

@mixin disable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
