@import "fonts/merriweather";
@import "fonts/batang";

$serif-font-stack: "Merriweather",
Georgia,
serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";
$sans-serif-font-stack: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";
$mono-font-stack: "SFMono-Regular",
Consolas,
"Liberation Mono",
Menlo,
Courier,
monospace;

html,
body {
    font-family: $serif-font-stack;
    font-size: 1em;
    text-rendering: optimizeLegibility;
    //   -webkit-font-feature-settings: "kern" 1, "kern";
    //   font-feature-settings: "kern" 1, "kern";
    -webkit-font-kerning: normal;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}

html[lang="ko-KR"] {
    body {
        font-family: "Batang", $serif-font-stack;
        font-weight: lighter;
    }
}

html[lang="ko-KR"],
html[lang="zh-Hans"] {

    a.readmore,
    section>h1,
    article p em,
    article p dfn,
    cite {
        font-style: normal;
        font-weight: bold;
    }

    [role="article"] header .byline {
        font-style: normal;
    }

    .archive {

        ol li time,
        ul li time {
            font-style: normal;
            font-weight: bold;
        }
    }

    #promotion h4 {
        font-style: normal;
        font-weight: bold;
    }

    .highlight span {
        font-style: normal !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $sans-serif-font-stack;
    line-height: 1.25em;
    margin: 0;
}

h1 {
    font-size: 2.25em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

p {
    margin: 0 0 0.75em;
}

a {
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    transition: color 0.1s linear;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:active,
    &:focus {
        outline: none;
    }

    code {
        white-space: nowrap;
    }
}

p>small {
    font-size: inherit;
    font-variant: small-caps;
    text-transform: lowercase;
}

p>code,
li>code,
td>code {
    user-select: all;
}

a,
p,
li,
dd,
td {
    &>code {
        background: $gray-light;
        padding: .25em;
        font-size: 85%;
        border-radius: 3px;
    }
}

p,
li,
dd,
td {
    &>code {
        color: $purple-dark;
    }
}

pre {
    font-family: $serif-font-stack;
}

code,
samp {
    font-family: $mono-font-stack;
    font-size: 85%;
}

pre code {
    font-size: 80%;
}

samp {
    white-space: pre;
    overflow: scroll;
    display: block;
    padding: 0.5em 0;
}

section>h1 {
    font-family: $serif-font-stack;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2em;
    margin-top: 2em;
    font-size: 1.5em;
}

article.excerpt h1 {
    font-size: 1.5em;
}

a {
    &.readmore {
        font-style: italic;
    }

    &:hover {
        text-decoration: underline;
    }
}

kbd {
    color: $gray-dark;
    background-color: $gray-light;
    border-radius: 3px;
    border: 1px solid $gray;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    font-family: $sans-serif-font-stack;
    font-variant: small-caps;
    margin: 0 .1em;
    padding: .1em .6em;
    text-transform: lowercase;
}

.placeholder {
    background: $gray-light;
    display: inline-block;
    padding: 0 0.25em;
    border: 1px $gray-dark solid;
    border-radius: 5px;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    &:hover .anchor {
        opacity: 1;
        text-decoration: none;
    }
}

.title {
    font-family: $sans-serif-font-stack;
    font-weight: 700;
}

.anchor {
    opacity: 0;
    transition: 300ms opacity;
    position: absolute;
    float: left;
    margin-left: -1.5em;
    padding: 0 0.5em;
    color: $gray !important;

    :focus {
        outline: none
    }
}
