@charset "UTF-8";

@import "colors";
@import "animations";
@import "typography";
@import "admonitions";
@import "layout";
@import "code";
@import "inputs";

@import "media-queries/width";
@import "media-queries/hover";
@import "media-queries/inverted-colors";
@import "media-queries/monochrome";
@import "media-queries/prefers-color-scheme";
@import "media-queries/prefers-contrast";
@import "media-queries/prefers-reduced-motion";
@import "media-queries/print";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#type-encodings tr > td:first-child,
#method-encodings tr > td:first-child {
  width: 12em;
  padding-left: 3em;
}

@media screen and (max-width: 480px) {
  #gpuimage table {
    font-size: 50%;
  }
}

#gpuimage {
  #gpuimage-benchmarks td {
    text-align: center;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
    }
  }

  #gpuimage-filters td {
    vertical-align: top;
    font-size: 75%;
  }

  blockquote {
    font-size: 75%;
  }
}

table {
  &.core-data-versus-nskeyedarchiver td {
    text-align: center;

    &:first-child {
      text-align: left;
      font-weight: bold;
    }
  }

  &#xcode-key-bindings-modifiers {
    width: 100%;

    td,
    th {
      width: 20%;
      text-align: center;
    }
  }
}

#cfstringtransform table {
  display: block;

  td:first-child {
    width: 60%;
  }
}

#icloud header time {
  background-color: rgba(255, 128, 0, 0.2);
}


