---
layout: default
---

{% assign author = site.authors | where:"name", page.author | first %}
{% assign translator = site.translators | where: "name", page.translator | first %}
{% capture date_format %}{% t format.date %}{% endcapture %}

<article role="article">
  <header role="heading">
    <h1 class="title">
      <a href="{{ page.url }}">{{ page.title | strip_html | escape | camel_break }}</a>
    </h1>

    <div class="byline">
    {% if page.authors %}
        {% t written_by %}
        <span class="authors">
        {% for auth in page.authors %}
          {% if forloop.last %}&amp;{% endif %}
          {% assign author = site.authors | where:"name",auth | first %}
          <a rel="author" class="author" href="{{ author.url }}">{{ author.name }}</a>
        {% endfor %}
        </span>
        <wbr/>
    {% elsif author %}
      {% t written_by %}
      <span class="authors">
        <a class="author" href="{{ author.url }}">{{ author.name }}</a>
      </span>
    {% elsif page.author %}
        {% t written_by %}
        <span class="authors">
            {{ page.translator }}
        </span>
    {% endif %}

    {% if page.translators %}
      {% t translated_by %}
      <span class="translators">
      {% for trans in page.translators %}
          {% if forloop.last %}&amp;{% endif %}
          {% assign translator = site.translators | where:"name",trans | first %}
          {% if translator %}
            <a class="translator" href="{{ translator.url }}">{{ translator.name }}</a>
          {% else %}
            {{ trans }}
          {% endif %}
      {% endfor %}
      </span>
    {% elsif translator %}
        {% t translated_by %}
        <span class="translators">
          <a class="translator" href="{{ translator.url }}">{{ translator.name }}</a>
        </span>
    {% elsif page.translator %}
        {% t translated_by %}
        <span class="translators">
          {{ page.translator }}
        </span>
    {% endif %}

    {% if page.last_revised_on %}
        <time datetime="{{ page.last_revised_on | date_to_xmlschema }}">{{ page.last_revised_on | date: date_format }}</time>
    {% else %}
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: date_format }}</time>
    {% endif %}

    {% if page.revisions %}
        {% if page.commit_history_url %}
            (<a href="{{ page.commit_history_url | uri_escape }}" rel="noopener noreferrer">{% t revised %}</a>)
        {% else %}
            ({% t revised %})
        {% endif %}
    {% endif %}
    </div>
  </header>

  <div class="content">
    {{ content }}
  </div>

  <footer role="complementary">
    {% if site.lang == "en-US" %}
        {% if page.revisions or page.status %}
        <section id="revisions">
        <small>NSMutableHipster</small>

        <p>
        Questions? Corrections? <a href="https://github.com/NSHipster/articles/issues">Issues</a> and <a href="https://github.com/NSHipster/articles/blob/master/{{ page.path | remove_first:'_posts/' }}">pull requests</a> are always welcome.
        </p>

        <p class="status">
        {% if page.status.swift and page.status.swift != "t.b.c." and page.status.swift != "n/a" %}
            {% if page.status.reviewed %}
                <em>This article uses Swift version {{ page.status.swift }} and was last reviewed on {{ page.status.reviewed }}.</em>
            {% else %}
                <em>This article uses Swift version {{ page.status.swift }}.</em>
            {% endif %}

            Find status information for all articles on the <a href="/status/">status page</a>.
        {% elsif page.status.reviewed %}
            <em>This article was last reviewed on {{ page.status.reviewed }}.</em>
        {% endif %}
        </p>
        </section>
        {% endif %}
    {% endif %}

    <section id="attribution">
      {% include_cached contributor.html role="author" %}
      {% if page.translator or page.translators %}
        {% include_cached contributor.html role="translator" %}
      {% endif %}
    </section>

    <section>
      {% assign next_post = page.next %}
      {% if next_post == nil or next_post.url == page.url or next_post.retired %}
        {% assign next_post = site.posts | first %}
      {% endif %}

      {% if next_post and next_post.url != page.url %}
      <div id="continue">
        <small>{% t next_article %}</small>
        <article>
          <h1 class="title">
            <a rel="next" href="{{ next_post.url }}">{{ next_post.title | strip_html | escape | camel_break }}</a>
          </h1>

          {{ next_post.excerpt | markdownify }}
        </article>
      </div>
      {% endif %}
    </section>
  </footer>
</article>

{% include_cached json-ld/breadcrumblist.html %}
