---
layout: default
---

{% assign author = site.authors | where:"name", page.author | first %}
{% assign translator = site.translators | where: "name", page.translator | first %}
{% capture date_format %}{% t format.date %}{% endcapture %}

<article role="article" itemscope itemtype="https://schema.org/Article">
  <header role="heading">
    <h1 class="title" itemprop="name">
      <a href="{{ page.url }}">{{ page.title | camel_break }}</a>
    </h1>

    <h2>

    <span>
    {% if page.authors %}
      {% t written_by %}
      {% for auth in page.authors %}
          {% if forloop.last %}&{% endif %}
          {% assign author = site.authors | where:"name",auth | first %}
          <a rel="author" class="author" href="{{ author.url }}">{{ author.name }}</a>
      {% endfor %}
      — <wbr/>
    {% elsif author %}
      {% t written_by %} <a class="author" href="{{ author.url }}">{{ author.name }}</a> — <wbr/>
    {% endif %}
    </span>

    <span>
    {% if translator %}
        {% t translated_by %} <a class="translator" href="{{ translator.url }}">{{ translator.name }}</a> — <wbr/>
    {% elsif page.translator %}
        {% t translated_by %} {{ page.translator }} — <wbr/>
    {% endif %}
    </span>

    {% if page.last_revised_on %}
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" hidden aria-hidden="true">{{ page.date | date: date_format }}</time>
        <time datetime="{{ page.last_revised_on | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_revised_on | date: date_format }}</time>
    {% else %}
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: date_format }}</time>
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="dateModified" hidden aria-hidden="true">{{ page.date | date: date_format }}</time>
    {% endif %}

    {% if page.revisions %}
    (<a href="#revisions">{% t revised %}</a>)
    {% endif %}
    </h2>

    <link itemprop="image" href="{{ '/logo.png' | absolute_url }}"/>
    <meta itemprop="headline" content="{{ page.title }}"/>
    <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization" hidden aria-hidden="true">
      <meta itemprop="name" content="NSHipster"/>
      <meta itemprop="logo" content="{{ '/logo.png' | absolute_url }}"/>
    </div>
  </header>

  <div class="content" itemprop="articleBody">
    {{ content }}
  </div>

  <footer role="complementary">
    {% if site.lang == "en-US" %}
    {% if page.revisions or page.status %}
    <section id="revisions">
      <small>NSMutableHipster</small>

      <p>
      Questions? Corrections? <a href="https://github.com/NSHipster/articles/issues">Issues</a> and <a href="https://github.com/NSHipster/articles/blob/master/{{ page.path | remove_first:'_posts/' }}">pull requests</a> are always welcome — NSHipster is made better by readers like you.
      </p>

      <p>
      {% if page.status.swift and page.status.swift != "t.b.c." and page.status.swift != "n/a" %}
        {% if page.status.reviewed %}
            <em>This article uses Swift version {{ page.status.swift }} and was last reviewed on {{ page.status.reviewed }}.</em>
        {% else %}
            <em>This article uses Swift version {{ page.status.swift }}.</em>
        {% endif %}
      {% else %}
            {% if page.status.reviewed %}<em>This article was last reviewed on {{ page.status.reviewed }}.</em>{% endif %}
      {% endif %}
      Find status information for all articles on the <a href="/status/">status page</a>.
      </p>

      <dl>
      {% for revision in page.revisions %}
        <dt>{{ revision[0] | date: date_format }}</dt>
        <dd>{{ revision[1] | markdownify }}</dd>
      {% endfor %}
      </dl>
    </section>
    {% endif %}

    {% endif %}

    <section id="attribution">
      {% include contributor.html role="author" %}
      {% if page.translator or page.translators %}
        {% include contributor.html role="translator" %}
      {% endif %}
    </section>

    <section>
      {% assign random_post = site.posts | shuffle | first %}
      {% assign next_post = page.next | default: random_post %}
      {% if next_post %}
      <div id="continue">
        <small>{% t next_article %}</small>
        <article>
          <h1 class="title">
            <a rel="next" href="{{ next_post.url }}" title="{{ next_post.title }}">{{ next_post.title | camel_break }}</a>
          </h1>

          {{ next_post.excerpt | markdownify }}
        </article>
      </div>
      {% endif %}
    </section>
  </footer>
</article>

{% include json-ld/breadcrumblist.html %}
